@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section>div{
  border: 2px solid #ccc;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
section>div>h1{
  color: #ccc;
  margin-bottom: 20px;
  text-align: center;
}
section>div>table{width: 100%;}
section>div>input{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  /* background-color: transparent; */
  outline: none;
  border: 2px solid #ccc;
  transition: 2s;
  border-radius: 5px;
  font-size: 20px;
  
}
section>div>input:focus{
  border: 2px solid #000;
}
button{
  width: 100%;
  padding: 10px 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  border-radius: 10px !important;
  font-weight: bold;
  color: #ccc;
  font-size: 20px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
button:hover{
  background-color:#ccc;
  color: #fff;
}
table, td{
  border-collapse: collapse;
  padding: 10px;
}